.buttonSpan{
    margin-left: 300px;
}

.AdminEdit{
    width: 19px;
    height: 19px;
}

.AdminEdit2{
    width: 19px;
    height: 19px;
}

.OrderEdit{
    width: 30px;
    height: 30px;
}

.OrderBtn{
   justify-content: center;
}

#ImgThum{
    width: 100px;
    height: 100px;
}