.carousel_container{
    width: 1600px;
    margin: 0 auto;
}

.react-multi-carousel-dot button {
    width:100px;
    height: 0px;
    border-radius: 0%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.react-multi-carousel-dot--active button {
    border-color: #000000;
}