.footer_bg {
  background-color: #f0f0f0;
  height: 460px;
  margin-top: 150px;
}

.footer_nav {
  display: flex;
  justify-content: center;
}

.footer_nav p {
  margin: 0;
  padding: 30px 50px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.footer_line hr {
  width: 1560px;
  border: 1px solid darkgray;
  margin: 0px;
}

.footer_line {
  display: flex;
  justify-content: center;
}

.footer_logo {
  /* position : relative;
    left: 200px; */
  width: 13%;
  height: auto;
  padding: 20px 0;
}

.footer_content {
  /* position : relative;
    left: 230px; */
  line-height: 30px;
  letter-spacing: 1px;
  margin: 0 auto;
  width: 1560px;
  padding-left: 72px;
}

.footer_link:hover a {
  text-decoration: underline black 1px;
}

.footer_link a {
  text-decoration: none;
}
