

  .css-dmmspl-MuiFormGroup-root {
    background-color: rgb(178, 204, 90);
    height: 35px;
  }
  
  .logo {
    width: 130px;
    height: auto;
  }
  
  .css-hyum1k-MuiToolbar-root {
    color: black;
  }
  
  .css-1kcggdq-MuiInputBase-root{
  
    height: 55px;
    
  }
  
  .header_button {
    width: 100px;
  
  }
  
  .login_text {
    font-size: 18px;
    font-weight: bold;
    padding: 0px 10px;
    
  }

  .login_text a {
    color: black;
    text-decoration: none;
    
  }
 
  
  .css-hyum1k-MuiToolbar-root {
    height: 90px;
    justify-content : center;
    align-items: center;
  
    
  }
  
  .css-1yx0if0{
    background-color: lightgray;
  }
  
  .logoSearchbarLogin {
    display: flex;
    justify-content: center;

    align-items: center;
    height: 90px;
    width: 1600px;
    border-bottom: 1px solid darkgray;
  } 
  
  .css-dmmspl-MuiFormGroup-root {
    display: flex;
    justify-content: center;
    align-content: center;
  
  }
  
  
  
  .greenheader_text{
    font-size: 13px;
    font-weight: bold;
    color: white;
    padding: 0 10px;
    
    margin: 0px;
    
  }
  
  .greenheader_btn {
    width: 200px;
  }

 
  .nav_hr hr{
    width: 337px;
    margin: 0 auto;
    
  }

 