
  .css-dmmspl-MuiFormGroup-root {
    background-color: rgb(178, 204, 90);
    height: 35px;
  }
  
  .logo {
    width: 9%;
    height: auto;
  }
  
  .css-hyum1k-MuiToolbar-root {
    color: black;
  }
  
  .css-1kcggdq-MuiInputBase-root{
  
    height: 55px;
    
  }
  
  .header_button {
    width: 100px;
  
  }
  
  .login_text {
    font-size: 18px;
    font-weight: bold;
    padding: 0px 10px ;
  }
  
  .css-hyum1k-MuiToolbar-root {
    height: 90px;
    justify-content : center;
  
    
  }
  
  .css-1yx0if0{
    background-color: lightgray;
  }
  
  /* .header_line {
    display: flex;
    justify-content: center;
    
  } */

  .header_line hr {
    position: absolute;
    left: 220px;
    
    width: 1545px;
    border: 1px solid darkslategray;
    margin: 0px;
    
    
    
  }

 
  
  
  .css-dmmspl-MuiFormGroup-root {
    display: flex;
    justify-content: center;
    align-content: center;
  
  }
  
  
  
  .greenheader_text{
    font-size: 13px;
    font-weight: bold;
    color: white;
    padding: 0 10px;
    
  }
  
  .greenheader_btn {
    width: 180px;
  }
  
  