.image_box{
    width: 1560px;
    margin: 0 auto;
    display: flex;
}

.image_box1 {
    width: 780px;
    height: 900px;
    border: 1px solid black;
    margin-right: 20px;
}

.image_box2 {
    width: 740px;
    height: 300px;
    border: 1px solid black;
    margin-left: 20px;
}

