.showroomColor {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0 53px;
}

.red {
   
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.white {
    background-color: white;
    border: 1px solid black;
}

.black {
    background-color: black;
}

.beige {
    background-color: beige;
}

.pink {
    background-color: pink;
}

.beige {
    background-color: beige;
}

.gray {
    
    background-color: gray;
}

.mainShowroomColor {
    display: flex;
    justify-content: center;
    width: 1560px;
    margin: 0 auto;
    
}




