.showroomColor {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 30px 50px;
}

.red {
   
    background-color: #FF0000;
}

.yellow {
    background-color: #FFDB00;
}

.green {
    background-color: #3B7D22;
}

.blue {
    background-color: #0058A3;
}

.purple {
    background-color: #A96ECC;
}

.white {
    background-color: white;
    border: 1px solid darkgray;
}

.black {
    background-color: black;
}

.pink {
    background-color: #FFB8C3;
}

.beige {
    background-color: #F4F3D7;
}

.gray {
    
    background-color: #959595;
}

.mainShowroomColor {
    display: flex;
    justify-content: center;
    width: 1560px;
    margin: 0 auto;
    
}

.showroomBox_1 {
    width: 760px;
    height: 900px;
    border: 1px solid black;
    margin-right: 20px;
    
}

.showroomBox {
    display: flex;
    justify-content: center;
   
}


.mainShowroom_MoreBtn {
    width: 1560px;
    margin: 0 auto;
}

