.showroomColor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 30px 40px;
}

.showroomColor:hover {
  transition: all 0.2s linear;
  transform: scale(1.1);
}

.red {
  background-color: #ff0000;
  border: 0px;
}

.yellow {
  background-color: #ffdb00;
  border: 0px;
}

.green {
  background-color: #3b7d22;
  border: 0px;
}

.blue {
  background-color: #0058a3;
  border: 0px;
}

.purple {
  background-color: #a96ecc;
  border: 0px;
}

.white {
  background-color: white;
  border: 1px solid darkgray;
}

.black {
  background-color: black;
  border: 0px;
}

.pink {
  background-color: #ffb8c3;
  border: 0px;
}

.beige {
  background-color: #f4f3d7;
  border: 0px;
}

.gray {
  background-color: #959595;
  border: 0px;
}

.mainShowroomColor {
  display: flex;
  justify-content: center;
  width: 1350px;
  margin: 0 auto;
}

/* .showroomBox_1 {
    width: 760px;
    height: 900px;
    border: 1px solid black;
    margin-right: 20px;
    
} */

/* .showroomBox {
    display: flex;
    justify-content: center;
   
} */

.mainShowroom_MoreBtn {
  width: 1350px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
}

.col {
  height: 900px;
  width: 655px;
  padding: 0;
  margin: 10px;
  position: relative;
}

.col img {
  width: 655px;
  height: 900px;
  position: relative;
}

.row {
  margin: 0 auto;
  width: 1350px;
}

/* 
.showroomBoxBg {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 100%;
   
} */

.showroomBoxHeart {
  background-color: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 0px;
  position: relative;
  bottom: 7%;
  left: 90%;
}
