
    .icons {
        display: flex;
        /* flex-direction: row; */
        position: relative;
        width: 1500px;
        height: 100%;
        margin: 0 auto;
        word-break: break-all;
        justify-content: center;
        align-items: center;
      }
      
      