.wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 80%;
  margin-left: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
}

/*::-webkit-scrollbar : 스크롤바 전체 영역에 대한 설정
::-webkit-scrollbar-thumb : 스크롤바 막대에 대한 설정
::-webkit-scrollbar-track : 스크롤바 뒷 배경에 대한 설정*/

.scroll {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 20px;
  overflow-y: scroll;
  border: 1px solid black;
  box-sizing: border-box;
  color: rgb(237, 234, 129);
  font-family: "Nanum Gothic";
  background-color: rgba(0, 0, 0, 0.8);
}

/* 스크롤바 설정*/
.row::-webkit-scrollbar {
  width: 5px;
}

/* 스크롤바 막대 설정*/
.row::-webkit-scrollbar-thumb {
  background-color: rgb(8, 0, 0);
  /* 스크롤바 둥글게 설정    */
  border-radius: 30px;
}

/* 스크롤바 뒷 배경 설정*/
.row::-webkit-scrollbar-track {
  background-color: rgba(245, 235, 235, 0);
}

/* 스크롤 상하방향 

::-webkit-scrollbar-button:vertical:incremen
::-webkit-scrollbar-button:vertical:decrement*/

/* 스크롤 좌우방향 
::-webkit-scrollbar-button:horizontal:increment, 
::-webkit-scrollbar-button:horizontal:decrement */

.header_line hr {
  width: 1545px;
  border: 1px solid darkgray;
}

.css-mhc70k-MuiGrid-root {
  display: flex;
  justify-content: space-evenly;
}

.row {
  margin: 0 auto;
  /* width: 1350px; */
}

.showroomColor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 30px 40px;
}

.showroomColor:hover {
  transition: all 0.2s linear;
  transform: scale(1.1);
}

.red {
  background-color: #f74d2fdb;
  border: 0px;
}

.yellow {
  background-color: #efe480;
  border: 0px;
}

.green {
  background-color: #b2cc5a;
  border: 0px;
}

.blue {
  background-color: #0058a3;
  border: 0px;
}

.purple {
  background-color: #a96ecc;
  border: 0px;
}

.white {
  background-color: white;
  border: 1px solid darkgray;
}

.black {
  background-color: black;
  border: 0px;
}

.pink {
  background-color: #ffb8c3;
  border: 0px;
}

.beige {
  background-color: #f4f3d7;
  border: 0px;
}

.gray {
  background-color: #959595;
  border: 0px;
}

.css-96vknt-MuiGrid-root {
  margin-top: 10%;
}

.fixedBox {
  position: fixed;
  /* top: 50px;  */
  /* right: 20px; */
  z-index: 1;
  width: 100%;
  padding: 20px;
  background: white;
  /* border-radius: 6px; */
  color: #fff;
  /* border: 1px solid rgb(23, 122, 117); */
  text-align: center;
}

.fixedBox.fixed {
  width: 100%;
  top: 0;
  right: 0;
  font-size: 22px;
  border-radius: 0;
  padding: 20px;
  text-align: center;
}
