.showroomColorThumbnail {
    width: 200px;
    height: 200px;
    margin: 1%;
}

.showroomMain{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.showroomColor1 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.showroombuttonbox{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: center;
}

.red {
    background-color: #FF0000;
    border: 0px;
}

.yellow {
    background-color: #FFDB00;
    border: 0px;
}

.green {
    background-color: #3B7D22;
    border: 0px;
}

.blue {
    background-color: #0058A3;
    border: 0px;
}

.purple {
    background-color: #A96ECC;
    border: 0px;
}

.white {
    background-color: white;
    border: 1px solid darkgray;
}

.black {
    background-color: black;
    border: 0px;
}

.pink {
    background-color: #FFB8C3;
    border: 0px;
}

.beige {
    background-color: #F4F3D7;
    border: 0px;
}

.gray {
    background-color: #959595;
    border: 0px;
}