*, ::before, ::after {
    box-sizing: border-box;  /*박스 하단 보더라인*/
    margin: 0;
    padding: 0;
  }
  
  /* body {
    background: #fff;
  } */
  
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1500px;
    height: 100%;
    margin: 100px auto 0;
    word-break: break-all;
  }
  
  .bloc-tabs {
    display: flex;
  }
  .tabs {
  
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    width: 10%;
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
    outline: none;
  }
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
    background: white;
    border-bottom: 1px solid transparent;
    border-right: 1px solid rgba(0, 0, 0, 0.274); 
    border-left: 1px solid rgba(0, 0, 0, 0.274); 
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: #003319;
  }
  
  
  
  /* button {
    border: none;
  } */
  .content-tabs {
    flex-grow : 1;
  }
  .content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .content h2 {
    padding: 0px 0 5px 0px;
    margin-top: 2%;
  }
  .content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  .content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
  }


  /* CONTENT */
  .updateInput {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content:flex-start; */
  width: 50%;
  margin: 0 auto;
  align-items:center;
  padding-top: 50px;
  /* text-align: center; */
  /* min-height: 100vh; */
  }


  /* #basic-addon1 {
    margin-left: 20px;
  } */

  /* 조회시 기간선택하는 부분 */
  .Date {
    font-family: sans-serif;
    text-align: center;
    width: 500px;
    display: flex;
    padding: 10px;
    margin-left: 30px;
  }

  .DataP {
    font-weight: bold;
    /* vertical-align:text-bottom; */
  }


  .outButton {
    width: 250px;
    height: 50px;
    background-color: #003319;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
  }

  .outBtn {
    padding: 20px;
    
    /* margin-top: 40px; */
  }

  .pwChange {
    width: 200px;
    margin: 0 auto;
  }

  .updateBtn {
    width: 200px;
    margin: 0 auto;
  }

  .pointPart {
    margin-top: 70px;
  }

  .outCard {
    margin: 0 auto;
  }

  .form-control {
    border: none;
    border-bottom: 1px solid black;
  }

  

  