.wishCard {
    margin: 0 auto;
}


.wishBtnBlack {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-right: 50px;
    background-color: black;
    color: white;
    border: 1px solid black;
    font-weight: bold;
}


.cardImg {
    width: 200px;
}

.wish {
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 50px;
}

.infinit {
    width: 1700px;
    height: 120%;
    margin: 0 auto;
    margin-top: 80px;
}

.title {
    padding: 30px;
}

.wishImg {
    width: 200px;
    height: 350px;    
}

.deleteBtn {
    position: absolute;
    top: 8%;
    left: 13%;
    transform: translate(-50%, -50%);
    width: 18px;
    border: none;
    background-color: #f0f0f000;
}

.cartBtn {
    position: absolute;
    height: 100%;
    /* top: 50%;
    left: 30%; */
    /* transform: translate(-20%, -120%); */
    transform: translate(-40%, -90%);
}