<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"></setting>
		<!-- 쿼리 결과가 null로 리턴되었을 때 처리방식 지정 -->
		<!-- 결과가 null일 때 모든 컬럼의 값을 null로 설정 -->
		<setting name="callSettersOnNulls" value="true"></setting>
		<!-- 쿼리 파라미터가 null일 때 null의 처리 방식 지정 -->
		<setting name="jdbcTypeForNull" value="NULL"></setting>
	</settings>
	
	<typeAliases>
	    <typeAlias type="com.bootreact.hmct.dto.UserDTO" alias="user"></typeAlias>
	    <typeAlias type="com.bootreact.hmct.common.CamelHashMap" alias="camelHashMap"></typeAlias>
	</typeAliases>
</configuration>