<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/dtd/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.bootreact.hmct.mapper.CartMapper">
	
	<select id="getCartImageList" parameterType="String" resultType="camelHashMap">
	<![CDATA[
		select AA.product_image_name
			 , MIN(AA.product_image_no) 
			 , AA.COMMON_CODE
			 , AA.PRODUCT_NO
			from (
					 select A.product_image_name
					 	   , A.product_image_no
						   ,  B.common_code
						   ,  B.product_no 
						   from t_hmct_product_image A,
						   t_hmct_cart B
						   where  B.user_id = #{userId}
						   and A.common_code = B.common_code 
						    and A.product_no = B.product_no
				) AA
			group by AA.PRODUCT_NO, AA.COMMON_CODE
			order by AA.PRODUCT_NO ASC, AA.COMMON_CODE ASC
	]]>
	</select>
</mapper>


