<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/dtd/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.bootreact.hmct.mapper.CartMapper">
	
	<select id="getCartImageList" parameterType="String" resultType="camelHashMap">
	<![CDATA[
		select A.product_image_name
			,  B.common_code 
			from t_hmct_product_image A,
				 t_hmct_cart B
			where  B.user_id = #{userId}
			and A.common_code = B.common_code
			group by common_code;
	]]>
	</select>
</mapper>


