body {
    overflow-x: hidden;
}

.main_title {
    font-weight: bold;
    width: 1330px;
    margin: 0 auto;
    padding : 30px 0;
}

.sub_title {
    width: 1330px;
    margin: 0 auto;
    color: darkgray;
}

.eventCard {
    display: flex;
    justify-content: center;
}

