body {
  overflow-x: hidden;
}

.main_title {
  font-weight: bold;
  max-width: 1240px;
  margin: 0 auto;
  padding: 80px 0 30px;
}

.sub_title {
  max-width: 1240px;
  margin: 0 auto;
  color: darkgray;
  padding: 10px 0;
}

.eventCard {
  display: flex;
  justify-content: center;
}

.showroom_title {
  font-weight: bold;
  max-width: 1240px;
  margin: 0 auto;
  padding: 70px 0 0px;
}
